.searchbar-container{
 
}
.searchbar-container ~ div{
    background-color: red;
    padding: 10px;
}
.wrapper{
    width: 400px;
    box-shadow: 0px 2px 3px 1px #8080804a;
    height: max-content;
    margin: 10px auto;
 }
 body{
   background-color: lavender;
 }
 h1{
   font-size: 18px;
   text-align: center;
 }
 .card-container{
  display:flex;
   max-height: 200px;
   box-shadow: 0px 2px 3px 1px #8080804a;
   border-radius: 0px 0px 4px 4px;
   flex-direction: column;
   overflow-y: scroll;
   background:white
}
.in-visible{
display:none;
}
.card-container>p{
padding:20px;
text-align: center;
font-family: unset;
color:grey
}
